/* Styles for the menu-sidebar-content */
.menu-sidebar-content {
    background-color: #6aaef1;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

/* Styles for the navbar-sidebar */
.navbar-sidebar {
    width: 100%;
}

/* Styles for the list items */
.navbar-list {
    padding: 0;
}

.category-item {
    margin-bottom: 20px;
}

/* Styles for the links */
.category-link {
    text-decoration: none;
    transition: color 0.3s;
}



.menu-sidebar-content .navbar-list .category-item .category-link {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900;
}
