/* Product Box Container */
.product-box {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 6px;
    text-align: center;

}



/* Product Name */
.product-box h1 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Price */
.price {
    font-weight: bold;
    font-size: 1.2em;
    color: #333333;
    margin-bottom: 10px;
}

/* Add to Cart Button */
.product-box button {
    background-color: #6174cf;
    border: none;
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px 20px;
    cursor: pointer;
}



/* Product Link */
.product-box a {
    text-decoration: none;
    color: #333333;
}

